@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 0.8s ease both;
  }
  .scroll-smooth {
  scroll-behavior: smooth;
}

.transition-all {
  transition: all 0.4s ease;
}
li {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  

  li.bg-black {
    background-color: black;
    color: white;
  }
  
  li.bg-white {
    background-color: white;
    color: black;
  }
  

  li.transition-colors {
    transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out;
  }