@tailwind base;
@tailwind components;
@tailwind utilities;
.keep-scrolling::-webkit-scrollbar {
    display: none;
  }

  .keep-scrolling {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
  .hidden {
    opacity: 0.9;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .animate-slide-in {
    opacity: 1;
    transform: translateY(0);
  }
  @media (max-width: 425px) {
    .try-btn { 
        display: none !important;
    }
}